.banner {
  height: 56vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner::before {
  content: '';
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}

.banner-text-area {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  
}

.banner-text-area > * {
  z-index: 2;
}

@media (max-width: 992px) {
  .banner {
    height: 46vh;
  }

  .banner::before {
    height: 46vh;

  }

  .banner-text-area {
    /* height: 56vh; */
    width: 70%;
    height: 100%;
    padding: 3rem 1rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 46vh;
  }

  .banner::before {
    height: 46vh;

  }

  .banner-text-area {
    padding: 1rem;
  }
}




